[env.Test]
image = "alpine:edge"
exec_cmds = ["apk add helix bash"]
entry_cmd = "/bin/ash"
create_options = [
  "-v $HOME/.config/helix:/root/.config/helix",
  "-v $PWD:/berth",
  "-it",
]
entry_options = ["-w /berth", "-it"]
